name: Wiki Daily Solver

on:
  push:
    branches:
      - wiki-daily-pipeline

jobs:
  wiki-daily-pipline:
    name: Attempt Solution
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Installation
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
      - name: Solving
        run: python sudoku_wiki_daily.py 2024-03-19

