name: Wiki Daily Solver

on:
  push:
    branches:
      - wiki-daily-pipeline
  schedule:
    - cron: '30 8 * * *'

jobs:
  wiki-daily-pipline:
    name: Attempt Solution
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Checkout
        uses: actions/checkout@v4
      - name: Installation
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
      - name: Solving
        run: python sudoku_wiki_daily.py $(date -u +"%Y-%m-%d")

